RewriteEngine On

# Redirect /index and /index.php to root domain
Redirect 301 /index https://retrofusion.in/
Redirect 301 /index.php https://retrofusion.in/


Redirect 301 /retro-villa.php /retro-villas
Redirect 301 /neo-villa.php /neo-retro
Redirect 301 /viswa-villa.php /retro-viswa-lonavala
Redirect 301 /retro-villa /retro-villas
Redirect 301 /neo-villa /neo-retro
Redirect 301 /viswa-villa /retro-viswa-lonavala

# Remove .php extension from all URLs
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]

# Serve .php file internally when extensionless URL is requested
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]



Redirect 301 /about-founders /about
Redirect 301 /neo-retro-blog /neo-retro
Redirect 301 /vegetarian-restaurants-in-lonavala /neo-retro
Redirect 301 /how-to-plan-trip /blogs
Redirect 301 /ashtvinayak /blogs
Redirect 301 /post /blogs
Redirect 301 /valvan-dam /blogs